# maxOS
**/.DS_Store

# CLion
.idea/**
!.idea/codeStyles
!.idea/codeStyles/**
!.idea/runConfigurations
!.idea/runConfigurations/**
!.idea/misc.xml
cmake-build-debug
cmake-build-release

# Rust
**/Cargo.lock
**/target/**
!**/target/release
!**/target/release/README.md

# Python
**/__pycache__
/build
/dist
/ximu3.egg-info

# Visual Studio
**/.vs
**/x64
**/Debug
**/CSharp/**/Release
**/*.vcxproj.user

# Misc
**/token.txt
